<html>
    <head>
        <title>Chat en Tiempo real</title>
        <!-- <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script> -->
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <h1>Chat</h1>
        <ul id="messages">
            
        </ul>
        <form>
            <input id="message" type="text" />
            <button>Send</button>
        </form>


        <script>
            const socket = io();

            const form = document.querySelector("form")
            const input = document.getElementById("message")
            
            var username = prompt("Ingrese su nombre:")

            socket.emit("user_join", username)
            addMessage("Hola " + username + ", bienvenido al chat")

            socket.on("user_join", function(data){
                addMessage("Hola " + data + ", bienvenido al chat")
            })

            socket.on("chat_message", function(data){
                addMessage(data.username + ": " + data.message)
            })

            socket.on("user_leave", function(data){
                addMessage(data + " ha salido de la sala")
            })

            form.addEventListener("submit", function(event){
                event.preventDefault();

                addMessage(username + ": " + input.value)

                socket.emit("chat_message", {
                    username: username,
                    message: input.value
                })

                input.value=""
                return false
            }, false) 


            function addMessage(message) {
                const messages = document.getElementById("messages")
                const li = document.createElement("li")
                li.innerText = message
                messages.appendChild(li)
            }
        </script>

    </body>
</html>