<html>
    <head>
        <title>TODO List</title>
        <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
    </head>
    <body>
        <h1>TODO APP</h1>
        <form id="newTaskForm">
            <input id="newTaskInput" />
            <button type="submit">Agregar</button>
        </form>
        <ul id="ulTasks">
            
        </ul>

        <script >

            const form = document.getElementById('newTaskForm')
            const input = document.getElementById('newTaskInput')
            const ulTasks = document.getElementById('ulTasks')
            // Your web app's Firebase configuration
            const firebaseConfig = {
                apiKey: "AIzaSyBmjsyyzRX2heWEGXQZ34VaPixvDLUoEPg",
                authDomain: "todo-list-c35fd.firebaseapp.com",
                projectId: "todo-list-c35fd",
                storageBucket: "todo-list-c35fd.appspot.com",
                messagingSenderId: "905960419684",
                appId: "1:905960419684:web:b3307865139024412b0a71"
            };

            // Initialize Firebase
            const app = firebase.initializeApp(firebaseConfig);

            const db = firebase.firestore()

            const TerminarTarea = function(id) {
                db.collection("tasks").doc(id).delete()
                .then((docRef)=>{
                    console.log("Deleted: " + id)
                }).catch((error)=>{
                    console.log("Error: " + error)
                })
            }
            
            db.collection("tasks").onSnapshot((querySnapshot) => {
                let li_str = ""
                querySnapshot.forEach((doc)=>{
                    let task = doc.data()
                    li_str += "<li>"+ task['title']
                    li_str += "<a href=\"javascript:TerminarTarea('" 
                    li_str += doc.id + "')\"> Eliminar </a>"
                    li_str += "</li>"
                })
                ulTasks.innerHTML=li_str
            })

            

            form.addEventListener("submit", function(event){
                event.preventDefault()

                db.collection("tasks").add({
                    "title": input.value
                }).then((docRef)=>{
                    console.log("Created: " + docRef.id)
                }).catch((error)=>{
                    console.log("Error: " + error)
                })
                return false
            }, false)

        </script>

    </body>
</html>
